<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lemonbily.springboot.mapper.CommentMapper">
    <resultMap id="BaseResultMap" type="com.lemonbily.springboot.entity.Comment">
        <result column="ComID" jdbcType="INTEGER" property="comid"/>
        <result column="UID" jdbcType="INTEGER" property="uid"/>
        <result column="ToID" jdbcType="INTEGER" property="toid"/>
        <result column="ComType" jdbcType="INTEGER" property="comtype"/>
        <result column="ComContent" jdbcType="VARCHAR" property="comcontent"/>
        <result column="ComTime" jdbcType="TIMESTAMP" property="comtime"/>
    </resultMap>
    <insert id="insert" parameterType="com.lemonbily.springboot.entity.Comment">

        insert into comment (ComID, `UID`, ToID,
        ComType, ComContent, ComTime
        )
        values (#{comid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{toid,jdbcType=INTEGER},
        #{comtype,jdbcType=INTEGER}, #{comcontent,jdbcType=VARCHAR}, #{comtime,jdbcType=TIMESTAMP}
        )
    </insert>

    <delete id="deleteByComID" parameterType="java.lang.Integer">
        DELETE FROM comment
        WHERE ComID = #{comid,jdbcType=INTEGER}
    </delete>

    <select id="selectByComID" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select *
    from comment where ComID = #{comid,jdbcType=INTEGER}
  </select>

    <select id="selectByUID" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select *
        from comment where `UID` = #{uid,jdbcType=INTEGER}
    </select>


    <select id="selectByUIDAndType" resultMap="BaseResultMap">
        select *
        from comment where `UID` = #{uid,jdbcType=INTEGER}
        AND ComType = #{comtype,jdbcType=INTEGER}
    </select>

    <select id="selectByUIDAndTypeAndToID" resultMap="BaseResultMap">
        select *
        from comment
        where `UID` = #{uid,jdbcType=INTEGER}
          AND ComType = #{comtype,jdbcType=INTEGER}
          AND  ToID = #{toid,jdbcType=INTEGER};
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select ComID, `UID`, ToID, ComType, ComContent, ComTime
        from comment
    </select>
</mapper>