<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lemonbily.springboot.mapper.LoginMapper">
  <resultMap id="BaseResultMap" type="com.lemonbily.springboot.entity.Login">

    <result column="Id" jdbcType="INTEGER" property="id" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="LPassWord" jdbcType="VARCHAR" property="lpassword" />
    <result column="LPhone" jdbcType="CHAR" property="lphone" />
    <result column="LLiveTime" jdbcType="TIMESTAMP" property="llivetime" />
  </resultMap>
  <insert id="insert" parameterType="com.lemonbily.springboot.entity.Login">

    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into login (`Name`, LPassWord, LPhone, 
      LLiveTime)
    values (#{name,jdbcType=VARCHAR}, #{lpassword,jdbcType=VARCHAR}, #{lphone,jdbcType=CHAR}, 
      #{llivetime,jdbcType=TIMESTAMP})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">

    select Id, `Name`, LPassWord, LPhone, LLiveTime
    from login
  </select>

  <select id="selectByID" resultMap="BaseResultMap" parameterType="java.lang.Integer">

    select Id, `Name`, LPassWord, LPhone, LLiveTime
    from login where Id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByPhone" resultMap="BaseResultMap" parameterType="java.lang.String">

    select Id, `Name`, LPassWord, LPhone, LLiveTime
    from login where LPhone = #{lphone,jdbcType=CHAR}
  </select>
  
  <delete id="deleteByID" parameterType="java.lang.Integer">
    DELETE FROM login
    WHERE  Id = #{id,jdbcType=INTEGER}
  </delete>

  <update id="update" parameterType="com.lemonbily.springboot.entity.Login">
    UPDATE login
    <set>
      <if test="name != null">
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="lpassword != null">
        LPassWord = #{lpassword,jdbcType=VARCHAR},
      </if>
      <if test="lphone != null">
        LPhone = #{lphone,jdbcType=CHAR},
      </if>
      <if test="id != null">
        LLiveTime = #{llivetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE Id = #{id,jdbcType=INTEGER}
  </update>

</mapper>